<p>Create a new User:</p>
<%= form_with model: @user, html: { style: "display:flex; flex-direction: column; max-width: 300px;" } do |form| %>
  <%= form.label :name, 'User:' %>
  <%= form.text_field :name %>
  <%= form.label :email, 'Email:' %>
  <%= form.email_field :email, placeholder: 'example_email@gmail.com' %>
  <%= form.label :password, 'Password:' %>
  <%= form.password_field :password, style: 'margin-bottom: 16px;' %>
  <%= form.submit 'Touch it!' %>
<% end %>
